<div style="<%= current_user.admin ? '' : 'margin-left: 160px; margin-right: 160px; margin-top: 15px' %>">
  <p class="title is-2">
    Nouvelle Ressource
  </p>

  <%= render 'form', ressource: @ressource %>

  <div class="mb-6">
    <%= link_to 'Retour', ressources_path %>
  </div>
</div>