<h1 class="title is-2 is-color-primary">
  Modifier un Projet(Action)
</h1>

<%= render 'form', projet: @projet %>

<div class="mb-6">
  <%= link_to 'Voir', @projet %>
  |
  <%= link_to 'Retour', projets_path %>
</div>