<p class="title is-2">
  Modifier un Partenaire
</p>

<%= render 'form', partenaire: @partenaire %>

<div class="mb-6">
  <%= link_to 'Voir', @partenaire %>
  |
  <%= link_to 'Retour', partenaires_path %>
</div>
