<h1 class="title is-2 is-color-primary">
  Modifier une Publication
</h1>

<%= render 'form', publication: @publication %>

<div class="mb-6">
  <%= link_to 'Voir', @publication %>
  |
  <%= link_to 'Retour', publications_path %>
</div>
