<p class="title is-2">
    Mémo
</p>
<hr>

<p class="title is-4">
    <i class="fas fa-file-contract"></i>
    Adhésions
</p>

<p class="subtitle is-6">
    La saisie d'une demande d'adhésion permet de saisir, en un seul formulaire, les données de l'adhésion, d'une maison et de ses contacts.
</p>

<div id="content" class="content">
    <p><strong>Etats :</strong><p>
    <ul>
        <li>
            Nouvelle => L'adhésion vient d'être enregistrée par un visiteur souhaitant adhérer.
        </li>

        <li>
            Complet => L'adhésion a été vérifiée par un administrateur, elle emporte tous les documents et informations requis.
        </li>

        <li>
            Validée => L'adhésion est actée. Une maison et ses contacts vont être créés automatiquement par l'application. 
        </li>

        <li>
            Résiliée => La maison n'apparaîtra plus dans comme membre actif ???
        </li>

        <li>
            Archivée => La maison n'est plus visible ???
        </li>
    </ul>
</div>
<hr>

<p class="title is-4">
  <i class="fas fa-file-invoice"></i>
  Cotisations
</p>

<p class="subtitle is-6">
    Pour ajouter une nouvelle cotisation, ouvrir l'adhésion concernée et cliquez sur 'Ajouter une nouvelle Cotisation'.
</p>

<div id="content" class="content">
    <p><strong>Etats :</strong><p>
    <ul>
        <li>
            En_cours => La cotisation est en cours (dûe).
        </li>

        <li>
            Engagée => La cotisation a été facturée, la facture émise et envoyée.
        </li>

        <li>
            Réglée => La facture a été payée. 
        </li>
    </ul>
</div>

<hr>

<p class="title is-4">
  <i class="fas fa-hotel"></i>
  Maisons
</p>
<hr>

<p class="title is-4">
  <i class="fas fa-id-card-alt"></i>
  Contacts
</p>

<p class="subtitle is-6">
    Pour ajouter un nouveau contact, non membre, cliquez sur [+] dans la page Contacts.<br>
    Pour ajouter un contact membre, allez sur sa maison d'attache et cliquez sur 'Editer' pour ajouter les contacts à la suite des contacts existants.
</p>

<hr>

<p class="title is-4">
  <i class="fas fa-calendar-check"></i>
  Actions
</p>
<hr>

<p class="title is-4">
  <i class="fas fa-newspaper"></i>
  Actualités
</p>
<hr>

<p class="title is-4">
  <i class="fas fa-calendar-alt"></i>
  Événements
</p>
<hr>

<p class="title is-4">
  <i class="fas fa-handshake"></i>
  Partenaires
</p>
<hr>

<p class="title is-4">
  <i class="fas fa-book"></i>
  Ressources
</p>

<p class="subtitle is-6">
    En bas de l’article, dans le champ « catégorie », on peut en mettre 1 ou 2. Si on veut en mettre une 3eme, on valide la page avec les 2 premières, puis on revient dessus et on peut en ajouter une 3eme.
    <br>
    Si on veut supprimer une catégorie, on clique destroy, on valide la page, puis on revient dessus pour mettre le nouveau tag.
    <br>
    Pour saisir Typo et maison : Idem que pour catégorie Typo et Maison
</p>
<hr>

<p class="title is-4">
  <i class="fas fa-file"></i>
  Publications
</p>
<hr>

<p class="title is-4">
  <i class="fas fa-tags"></i>
  Catégories
</p>
<hr>

<p class="title is-4">
  <i class="fas fa-tags"></i>
  Typologies
</p>
<hr>

<p class="title is-4">
  <i class="fas fa-comment-dots"></i>
  Messages
</p>
<hr>

<p class="title is-4">
  <i class="fas fa-users"></i>
  Utilisateurs
</p>
<hr>

<p class="title is-4">
  <i class="fas fa-search"></i>
  Audit trail
</p>
<hr>

