<% if notice || alert %>
    <section>
        <div class="notification has-text-centered is-vcentered <%= notice ? 'is-success' : 'is-danger' %> is-light">
            <button class="delete" style="background-color: <%= notice ? '#48c774' : '#f14668' %>"></button>
            <p class="notice is-size-5 has-text-weight-bold has-text-success">
                <%= notice %>
            </p>
            <p class="alert is-size-5 has-text-weight-bold has-text-danger">
                <%= alert %>
            </p>
        </div>
    </section>
<% end %>
