<div class="pb-6">
  <h2 class="title is-1 has-text-centered is-color-quaternary my-6">
    Ressources
  </h2>
  <div class="columns is-multiline">
    <%= render partial: 'partials/ressource_membre_tile', collection: @ressources, as: :ressource %>
  </div>
</div>