<br>
<div class="field has-addons">

    <div class="control">
        <%= text_field_tag :search, 
                            params[:search], 
                            class: "input", 
                            placeholder: "Entrez un mot à rechercher" %>
    </div>

    <% if defined?(states) %>
        <div class="control select">
            <%= select_tag :state, 
                            options_for_select(states, params[:state]), 
                            include_blank: true,
                            onchange: 'this.form.submit()' %>
        </div>
    <% end %>

    <div class="control">
        <button class="button is-info">Rechercher</button>
    </div>

    <% unless defined?(show_new_button) %>
        <div class="control">
            <%= link_to url_for(controller: params[:controller], action: 'new'), 
                        class: 'button is-primary is-light' do %>+<% end %>
        </div>
    <% end %>

</div>
<br>
