<%= link_to sib.url, target:"_blank" do %>
  <div class="card mb-4">
    <div class="card-content">
      <iframe style="pointer-events: none;" width="350" height="350" src=<%= sib.url %> loading="lazy" sandbox></iframe>
    </div>
  </div>
<% end %>