<p class="title is-2">
    <%= page_title! 'Modifier Utilisateur' %>
</p>

<%= render 'form', user: @user %>

<div class="mb-6">
    <%= link_to 'Voir', @user %>
    |
    <%= link_to 'Retour', users_path %>
</div>