<section class="hero is-dark mb-6">
  <div class="hero-body has-text-centered">
      <h1 class="title is-1 has-text-white">
        MENTIONS LÉGALES
      </h1>
  </div>
</section>

<div id="main-container">
    <div id="main-content">
        <div id="content" class="content">
            <h3 class="title is-4">
                1. Editeur du site
            </h3>
            <p class="is-size-5 mb-5">
                Réseau National des Maisons des Associations
                <br>
                Association loi 1901
                <br>
                SIRET :  478 740 186 00034
                <br>
                Numéro d'Agrément Formation:  53 29 09 43 729  enregistré auprès de la Préfecture de Bretagne.
                <br>
                Directrice de publication : Carole Orchampt
                <br>
                Siège Social :
                <br>
                1 allée Mgr Jean-Renée Calloc'h
                29000 Quimper
                <br>
                Tel : 07.83.17.20.30.
                <br>
                Mail : <%= mail_to "contact.rnma@maisonsdesassociations.fr" %>
            </p>

            <h3 class="title is-4">
                2. Développements
            </h3>
            <p class="is-size-5 mb-5">
                Création du site en 2021
                <br>
                Le présent site a été conçu et développé par <%= link_to "Philnoug & Partners", "https://philnoug.com", target: '_blank' %> en Ruby on Rails.
                <br>
                Contact : <%= mail_to "contact@philnoug.com" %>
                <br><br>
                L’hébergement du site est réalisé par la Société Heroku Inc, situé à 1 Market St. Suite 300, San Francisco, CA 94105 USA.
                <br>
                Contact : <%= link_to "https://www.heroku.com/contact", "https://www.heroku.com/contact", target: '_blank'%>
            </p>

            <h3 class="title is-4">
                3. Données nominatives ou à caractère personnel
            </h3>
            <p class="is-size-5 mb-5">
                Les utilisateurs sont parfois invités à fournir sur le présent site des données nominatives, c’est-à-dire certaines informations à caractère personnel. Ils sont expressément avertis qu’ils n’ont aucune obligation de répondre aux questions qui leur sont posées. En outre, chaque questionnaire mentionne le caractère impératif des réponses pour obtenir la fourniture du service demandé.
                Le traitement automatisé par le Réseau National des Maisons des Associations des données nominatives fournies par l’utilisateur est conditionné à l’accord express et ponctuel de ce dernier. Ces données nominatives ne sont jamais transférées à des tiers.
                Les informations collectées sur le présent site sont utilisées uniquement dans le cadre légal prévu en France pour le respect de la vie privée. Le Réseau National des Maisons des Associations est le destinataire des données. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès, de rectification, de suppression des informations qui vous concernent, que vous pouvez exercer en nous écrivant via la page Nous Contacter.
            </p>

            <h3 class="title is-4">
                4. E-Newsletter
            </h3>
            <p class="is-size-5 mb-5">
                Les informations recueillies sont nécessaires pour votre inscription à l'envoie de la e-newsletter.
                Elles font l’objet d’un traitement informatique et sont destinées au secrétariat de l’association. Conformément aux dispositions de la loi dite « informatique et liberté » du 6 janvier 1978 modifiée et au règlement général relatif à la protection des données, vous disposez d'un droit d'accès, de rectification, d’effacement, de limitation,  à la portabilité des données à caractère personnel, de rétractation,  d’opposition vous concernant (articles 15, 16, 17, 18,20, 13 et 21 du RGPD).
                Si vous souhaitez exercer ce droit veuillez nous écrire via la page Nous Contacter ou par courrier au 1 allée Mgr Jean-Renée Calloc'h  29000 Quimper.
                Les données personnelles sont utilisées afin d'interagir avec les utilisateurs dans le cadre de la gestion des préférences qu'il aura choisie ou des offres qu'il aura souscrites. Elles sont conservées durant trois ans à partir de la fin constatée de la connexion sur le site et des interactions.
            </p>

            <h3 class="title is-4">
                5. Liens hypertextes
            </h3>
            <p class="is-size-5 mb-5">
                Le contenu mis à disposition sur le présent site est fourni à titre informatif. L’existence d’un lien vers un autre site ne constitue pas une validation de ce dernier ou de son contenu par le Réseau National des Maisons des Associations qui ne saurait donc être tenu pour responsable.
            </p>

            <h3 class="title is-4">
                6. Propriété
            </h3>
            <p class="is-size-5 mb-5">
                L’ensemble de ce site est régi par la législation française sur le droit d’auteur et la propriété intellectuelle. Le contenu du site, incluant, de façon non limitative, les images, graphismes, textes, vidéos, logos, et icônes sont la propriété exclusive du Réseau National des Maisons des Associations à l’exception des marques, logos ou contenus appartenant à d’autres entreprises ou organisations partenaires ou auteurs.
                La reproduction, la représentation, le transfert, la distribution, ou l’enregistrement de tout ou partie de ces éléments sont formellement interdits sans l’autorisation expresse du Réseau National des Maisons des Associations.
            </p>

            <h3 class="title is-4">
                7. Cookies
            </h3>
            <p class="is-size-5 mb-5">
                Afin d’améliorer et de personnaliser la navigation, des cookies peuvent être déposés sur votre ordinateur. Vous pouvez choisir de refuser ces cookies en paramétrant votre navigateur. Pour en savoir plus sur le fonctionnement des cookies, nous vous invitons à lire cette page sur le site de la CNIL.
            </p>

            <h3 class="title is-4">
                8. Législation applicable
            </h3>
            <p class="is-size-5 mb-5">
                Le présent site est soumis à la législation française. En conséquence, dans l’hypothèse où certaines informations seraient considérées comme illégales dans d’autres pays, la responsabilité du présent site ne pourrait être engagée, chaque utilisateur devant vérifier la conformité du site à la législation du pays auquel il est matériellement et territorialement soumis.
            </p>

            <h3 class="title is-4">
                © Réseau National des Maisons des Associations - Tous droits réservés
            </h3>

        </div>
    </div>
</div>
 

