<div class="is-flex is-justify-content-center is-flex-wrap-wrap pt-6">
  <iframe width="540" height="461" src="https://my.sendinblue.com/users/subscribe/js_id/2upph/id/2" frameborder="0" scrolling="auto" allowfullscreen></iframe>
  <div class="mt-6" style="background-color: lightgrey; height:450px; width:2px; margin: 0px 4rem;"></div>
  <span>
    <h1 class="title is-4 is-ibm mt-6 mb-2">
      Archives
    </h1>
    <%= render partial: "partials/sib", collection: @sibs %>
  </span>
</div>