<p class="title is-2">
  Modifier une Adhésion
</p>

<%= render 'form', adhesion: @adhesion %>

<div class="mb-6">
  <%= link_to 'Voir', @adhesion %>
  |
  <%= link_to 'Retour', adhesions_path %>
</div>