<p class="title is-2">
  <i class="fas fa-images"></i>
  Nouvelle Image
</p>

<%= render 'form', slideshow_image: @slideshow_image %>

<div class="mb-6">
  <%= link_to 'Retour', slideshow_images_path %>
</div>
