<p class="title is-2">
  Modifier une Cotisation
</p>

<%= render 'form', cotisation: @cotisation %>

<div class="mb-6">
  <%= link_to 'Voir', @cotisation %>
  |
  <%= link_to 'Retour', cotisations_path %>
</div>
