<div id="cookies-bar" class="cookies-bar has-text-centered">
  <p>
    Ce site utilise des cookies pour améliorer l'expérience utilisateur.
  </p>

  <%= button_tag 'Accepter', type: 'button', class: 'btn accept is-inline-block' %>
  <%= button_tag 'Refuser', type: 'button', class: 'btn reject is-inline-block' %>
</div>